@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, rgb(78, 84, 200), rgb(143, 148, 251));
  font-family: "Roboto", sans-serif;
}
td,
th {
  padding-left: 8px;
  text-align: left;
}
tbody tr:last-child {
  border: 0;
}
h1 {
  font-size: 2.2rem;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #c5e3f6;
}
